.container {
	@apply mx-auto px-4;
}
a {
	transition: color 0.2s ease;
	color: rgba(var(--theme-font-color-base)) !important;
}
.dark a {
	color: rgba(var(--theme-font-color-dark)) !important;
}
a:hover {
	color: rgba(var(--color-primary-700)) !important;
}
a:not(.prose-xl a) {
	text-decoration: none !important;
}
.grid > .border-b-2,
.border-b-2:last-child {
	border: none !important;
}
img {
	border-radius: 0.2rem;
}
